* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas:hover {
  display: block;
  cursor: crosshair;
}

.center-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#button-container > div {
  padding: 0.5rem 0.5rem;
}

#head-container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
